{% extends "core/base.html" %} {% block title %}Portfolio | Jeisson Gonzalez{%endblock%}
{% load static %}

<!-- heading -->
{% block backgroundImage %}{% static 'assets/img/portfolio-bg.jpg' %}{% endblock backgroundImage %}
{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos Realizados</span>
{% endblock headers %}

<!-- Main Content-->
{% block content_portfolio %}

<!-- main container -->
<div class="container">
  {% for project in projects %}
  <!-- Proyecto -->
  <div class="row mb-5">
    <div class="col-lg-4 col-md-4 offset-lg-1">
      <img
        class="img-fluid rounded-3"
        src="{{project.image.url}}"
        alt=""
        style="display: block; max-height: auto; width: fit-content"
      />
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="display-6">{{project.title}}</h2>
      <p class="info-portfolio">{{project.description}}</p>
      {% if project.link %} 
      <a href="{{project.link}}" class="btn btn-dark rounded">Más Información</a>
      {% endif %}
    </div>
  </div>
  {% endfor projects %} {% comment %}
  <div class="row mb-5">
    <div class="col-lg-4 col-md-4 offset-lg-1">
      <img
        class="img-fluid rounded-3"
        src="{% static 'assets/img/avatar2_color.png' %}"
        alt=""
        style="display: block; height: 100%; max-height: 350px"
      />
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="display-6">Proyecto 2</h2>
      <p class="info-portfolio">
        As we got further and further away, it [the Earth] diminished in size.
        Finally it shrank to the size of a marble, the most beautiful you can
        imagine. That beautiful, warm....
      </p>
      <a href="#" class="btn btn-dark rounded">Más Información</a>
    </div>
  </div>
  {% endcomment %}
</div> <!-- /.container -->
{% endblock content_portfolio %} {% comment %}
<!-- Proyecto card -->
<div class="row project">
  <div class="col-lg-12 col-md-10 rounded">
    <div class="card mb-3 rounded" style="max-width: 100%">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{% static 'assets/img/post-bg.jpg' %}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">Primer proyecto</h2>
            <p class="card-text">
              As we got further and further away, it [the Earth] diminished in
              size. Finally it shrank to the size of a marble, the most
              beautiful you can imagine. That beautiful, warm....
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
            <a href="#" class="btn btn-dark rounded">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end project card-->
{% endcomment %}
